@media screen and (max-width:800px) {

    /* setting ul of navebar  */
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 100;
        display: flex;
        justify-content: center;
        left: 0;
        align-items: center;
        width: 100%;
    }

    nav ul li:nth-child(1) {
        margin-left: 0;
    }

    .nav-heading {
        margin-right: 0;

    }

    .cart {
        margin-right: 0.5rem;
    }

    .cart-side {
        width: 100%;
    }

    .bars {
        display: block;
        color: black;

    }

    .bar-side {
        width: 400px;
        height: 100vh;
        position: fixed;
        left: 0;
        background-color: rgb(37, 28, 28);
        top: 0;
        color: black;
    }

    .bar-side-not-active {
        transform: translateX(-100%);
        transition: 0.5s;
        display: block;
    }

    .bar-side-active {
        transform: translateX(0%);
        transition: 0.2s;
        display: block;
    }

    .for-bar {
        position: absolute;
        font-size: 2.5rem;
        right: 50;
        top: 20;
        opacity: 0.8;

    }

    .for-bar:hover {
        opacity: 1;
    }

    .bar-content-show {
        transition: 10s;
        overflow: visible;

    }

    .slide {
        background-position: center;
    }

    /* setting footer */
    .footer-row {
        display: flex;
        flex-direction: column;

    }

    .footer-col_2 {
        margin-top: 20px;
    }

    .footer-ul {
        display: none;
    }
    .slider-info {
        left: 10%;
    }
}

@media screen and (max-width:590px) {
    .slider-info p {
        font-size: 2rem;
    }

    .slider-info span {
        font-size: 4rem;
    }

    .slide1 {
        background-image: url(/img/man.jpg);
    }

    .slide3 {
        background-image: url(/img/pexels-polina-tankilevitch-6939095\ \(1\).jpg);

    }   .info-btn {
        color: white;
        border: 2px solid white;
    }
}

@media screen and (max-width:500px) {

    .slider-info p {
        font-size: 2rem;
    }

    .slider-info span {
        font-size: 3rem;
    }

}

@media screen and (max-width:450px) {

 

    .slider-info p {
        font-size: 2rem;
    }

    .slider-info span {
        font-size: 2rem;
        color: red;
        text-shadow: 0 0 100px rgba(0, 0, 0, 0.856);

    }

 

    .info-btn:hover {
        color: black;
    }
}