@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Petit+Formal+Script&family=Roboto&display=swap');

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --light-color: white;

}

/* navbar */

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%; z-index: 100;   background-color: black;
    color: var(--light-color);
    padding: 0rem 1rem 0.5rem 1rem;
    letter-spacing: 3px; 
    
}

nav,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav ul li {

    list-style: none;

}

nav ul li button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    margin-right: 15px;
}

nav ul li:nth-child(1) {
    margin-left: 4rem;
}

.nav-heading {
    margin-right: 100px;
}

.nav-heading h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 2.2rem;
    text-align: center;
}

.nav-heading p {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4PX;
}

.cart {
    margin-top: 10px;
    margin-right: 4rem;
    cursor: pointer;
    font-size: 1.8rem;
}

nav ul li button:hover,
.cart:hover {
    color: antiquewhite;
    transition: 0.8s;
}

.cart-side {
    width: 400px;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: white;
    top: 0;
    color: black;
    
}
.cart-side-not-active {
    transform: translateX(100%);
    transition: 1s;
}
.cart-side-active {
    transition: 1s;
    transform: translateX(0%);

}
.cross-mark{
    font-size: 3.5rem;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.694);
}
.cross-mark:hover{
    color: black;
    transition: 0.5s;
}

/* main */

/* *            SLIDER             */

.slide {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.slide1 {
    background-image: url(/img/pexels-polina-tankilevitch-6939095\ \(1\).jpg);
}

.slide2 {
    background-image: url(/img/pexels-cottonbro-7224925.jpg);
}

.slide3 {
    background-image: url(/img/slide1.avif);
}

.slideRight,
.slideLeft {
    position: absolute;
    top: 50%;
    font-size: 1.7rem;
    opacity: 0.7;

}

.slideLeft {
    left: 1rem;
    cursor: pointer;
}

.slideRight {
    right: 1rem;
    cursor: pointer;
}

.slideRight:hover,
.slideLeft:hover {
    opacity: 1;
    transition: 0.5s;
}

.slider-info {
    position: absolute;
    bottom: 20%;
    left: 5%;


}

.slider-info p {
    font-size: 2.5rem;
    text-align: left;
    text-shadow: 0 0 100px rgba(0, 0, 0, 0.311);
}

.slider-info span {
    color: rgb(112, 74, 25);
    font-size: 5rem;
    font-weight: 600;

    font-family: 'Bodoni Moda', serif;
}

.info-btn {
    padding: 0.7rem 1.2rem;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    background: transparent;
    box-shadow: 0 0 100px black;
    margin-top: 10px;
}

.info-btn:hover {
    background-color: rgba(255, 255, 255, 0.717);
    transition: 0.5s;
}

.hello {
    width: 100%;
    height: 100vh;
}

/* footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #2c47df, #2d0b00);
    color: var(--light-color);
    padding: 60px 0px 0px 0px;
    border-top-left-radius: 140px;
    font-size: 13px;
    height: 350px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer-col_1 {
    flex-basis: 60%;
}

.footer-col_2 {
    flex-basis: 10%;
}

.footer-row h3 {
    font-size: 32px;
}

.col_1-p {
    margin-top: 10px;
    line-height: 20px;

}

.footer-row p {
    font-size: 15px;
    font-family: 'Nanum Myeongjo', serif;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

/* .footer-ul li{
    margin-top: 20px;
} */
.footer_above_hr {
    margin-top: 24px;
}

.footer-ul {

    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}

.footer-ul li {
    font-size: 20px;
}

footer hr {
    width: 80%;
    margin: 15px auto 30px auto;
}

.footer-row2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.row2-col1 {
    font-size: 20px;
}

.footer-row2 ul {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    color: #ccc;
    justify-content: space-between;
}

.footer-row2 ul li {
    height: 30px;
    margin-left: 10px;
    margin-right: 2px;
    width: 30px;
}

.footer-row2 ul li:hover {
    box-shadow: 1px 1px 10px black;

}

.footer-ul li:hover {
    color: rgba(255, 14, 151, 0.477);
    text-shadow: 1px 1px 10px black;
}