@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Petit+Formal+Script&family=Roboto&display=swap');

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --light-color: white;

}

/* navbar */

header {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    color: black;
    padding: 0rem 1rem 0.5rem 1rem;
    letter-spacing: 3px;

}

.fixed-header {
    position: fixed;
    color: #111;
    transition: color 1s;
    box-shadow: 0 0 100px black;
    background: white;
    transition: 0.8s;
}

nav,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav ul li {

    list-style: none;

}

nav ul li button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 15px;
}

nav ul li:nth-child(1) {
    margin-left: 4rem;
}

.nav-heading {
    margin-right: 120px;
}

.nav-heading h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 2.2rem;
    text-align: center;
}

.nav-heading p {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4PX;
    font-weight: bold;
}

.cart {
    margin-top: 10px;
    margin-right: 4rem;
    cursor: pointer;
    font-size: 1.8rem;
}

nav ul li button:hover,
.cart:hover {
    color: burlywood !important;

    transition: 0.7s;
}

.cart-side {
    width: 400px;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: white;
    top: 0;
    color: black;
}

.cart-side-not-active {
    transform: translateX(100%);
    transition: 0.5s;
}

.cart-side-active {
    transition: 0.5s;
    transform: translateX(0%);

}

.cross-mark {
    font-size: 3.5rem;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.694);
}

.cross-mark:hover {
    color: black;
    transition: 0.5s;
}

/* main */

/* *            SLIDER             */

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115.8vh;

}

.slide1 {
    background-image: url(/img/pexels-polina-tankilevitch-6939095\ \(1\).jpg);
}

.slide2 {
    background-image: url(/img/pexels-cottonbro-7224925.jpg);
}

.slide3 {
    background-image: url(/img/slide1.avif);
}

.slideRight,
.slideLeft {
    position: absolute;
    top: 50%;
    font-size: 1.7rem;
    opacity: 0.7;

}

.slideLeft {
    left: 1rem;
    cursor: pointer;
}

.slideRight {
    right: 1rem;
    cursor: pointer;
}

.slideRight:hover,
.slideLeft:hover {
    opacity: 1;
    transition: 0.5s;
}

.slider-info {
    position: absolute;
    bottom: 20%;
    left: 5%;


}

.slider-info p {
    font-size: 2.5rem;
    text-align: left;
    text-shadow: 0 0 100px rgba(0, 0, 0, 0.311);
}

.slider-info span {
    color: rgb(112, 74, 25);
    font-size: 5rem;
    font-weight: 600;

    font-family: 'Bodoni Moda', serif;
}

.info-btn {
    padding: 0.7rem 1.2rem;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    background: transparent;
    box-shadow: 0 0 100px black;
    margin-top: 10px;
}

.info-btn:hover {
    background-color: rgba(255, 255, 255, 0.717);
    transition: 0.5s;
}
.custom-shape-divider-bottom-1660815753 {
    position: absolute;
    top: -112px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660815753 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1660815753 .shape-fill {
    fill: #111;
}
.hello {
    width: 100%;
    height: 200vh;
    background: #111;
    position: relative;
}

.hello:nth-child(2){
    color: white;
    background-color: #111;
}
.deals-line{
    width: 100%;
    border: 1px solid white;
    position: absolute;
    top: 40px;
}
.deals-heading{
    height: 50px;
    position: absolute;
    background-color: #111;
    top: 20px;
    padding: 0 1rem;
    font-size: 3rem;
    right: 100px;
}

.hello:nth-child(3) {
    background-attachment: fixed;
    background-image: url(/img/pexels-cottonbro-7224925.jpg);
    height: 400px;
    background-size: cover;
}
.hello:nth-child(4){
    width: 100%;
    height: 110vh;
}



/* BLUR BTN  */
.blur {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}

.footer-shop {
    width: 100%;
    height: 120px;
    background-image: url(/img/pexels-polina-tankilevitch-6939095\ \(1\).jpg);
    backdrop-filter: blur(14px);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
background-attachment: fixed;
}

.blur-btn {
    position: absolute;
    top: 30%;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px ;
}
.blur-btn:hover {
    color: white;
    background-color: black;
    transition: 0.7s;
    border: 2px solid white;
}

/* footer */

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #111;
    color: #ccc;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 20px;
}



.footer-row {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer-col_1 {
    flex-basis: 60%;
}

.footer-col_2 {
    flex-basis: 10%;
}

.footer-row h3 {
    font-size: 32px;
}

.col_1-p {
    margin-top: 10px;
    line-height: 20px;

}

.footer-row p {
    font-size: 15px;
    font-family: 'Nanum Myeongjo', serif;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}


.footer_above_hr {
    margin-top: 24px;
}

.footer-ul {

    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}

.footer-ul li {
    font-size: 20px;
}

.footer-row2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.row2-col1 {
    font-size: 20px;
}

.footer-row2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-row2 ul li {
    font-size: 2rem;

}

.footer-row2 ul li:first-child {
    margin-right: 20px;
}

.footer-row2 ul li a:hover {
    color: burlywood;
    transition: 0.5s;
}

.footer-ul li:hover {
    color: rgba(255, 14, 151, 0.477);
    text-shadow: 1px 1px 10px black;
}

.other-discription {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.other-discription span {

    color: yellowgreen;
}

.hr {
    width: 90%;
    margin: 15px auto 30px auto;
}